{{ with .Inner }}{{/* don't do anything, just call it */}}{{ end }}
{{ $groupId := default "default" (.Get 0) }}
<div class="tab-panel">
  <div class="tab-nav">
    {{ range $idx, $tab := .Scratch.Get "tabs" }}
    <button data-tab-item="{{ .name }}" data-tab-group="{{ $groupId }}" class="tab-nav-button {{ cond (eq $idx 0) `active` ``}}" onclick="switchTab('{{ $groupId }}','{{ .name }}')">{{ .name }}</button>
    {{ end }}
  </div>
  <div class="tab-content">
    {{ range $idx, $tab := .Scratch.Get "tabs" }}
    <div data-tab-item="{{ .name }}" data-tab-group="{{ $groupId }}" class="tab-item {{ cond (eq $idx 0) `active` ``}}">
      {{ .content  | markdownify }}
    </div>
    {{ end }}
  </div>
</div>


<!-- tab script -->
{{ .Page.Scratch.Add "tabs" 1 }}
{{ $tabs:= .Page.Scratch.Get "tabs" }}
{{ if eq $tabs 1 }}

<script>
  (function () {
    "use strict";
    // restore tab shortcode from localStorage
    restoreTabSelections();
  })();

// tab shortcode
function switchTab(tabGroup, tabId) {
  var btn = "";
  var tabSelections = "";

  let allTabItems = document.querySelectorAll(
    "[data-tab-group='" + tabGroup + "']"
  );
  let targetTabItems = document.querySelectorAll(
    "[data-tab-group='" + tabGroup + "'][data-tab-item='" + tabId + "']"
  );
  var isButtonEvent = event != undefined;

  if (isButtonEvent) {
    btn = event.target.getBoundingClientRect().top;
  }

  allTabItems.forEach(function (item) {
    return item.classList.remove("active");
  });
  targetTabItems.forEach(function (item) {
    return item.classList.add("active");
  });

  if (isButtonEvent) {
    let btnDiff = event.target.getBoundingClientRect().top - btn;
    window.scrollTo(window.scrollX, window.scrollY + btnDiff);

    var selectionsJSON = window.localStorage.getItem(`tabSelections${tabGroup}`);
    if (window.localStorage) {
      if (selectionsJSON) {
        tabSelections = JSON.parse(selectionsJSON);
      } else {
        tabSelections = {};
      }
      tabSelections[tabGroup] = tabId;
      window.localStorage.setItem(
        `tabSelections${tabGroup}`,
        JSON.stringify(tabSelections)
      );
    }
  }
}

// restore tab shortcode from localStorage
function restoreTabSelections() {
  var selectionsJSON = window.localStorage.getItem(`tabSelections`);
  if (window.localStorage) {
    if (selectionsJSON) {
      tabSelections = JSON.parse(selectionsJSON);
    } else {
      tabSelections = {};
    }
    Object.keys(tabSelections).forEach(function (tabGroup) {
      let tabItem = tabSelections[tabGroup];
      switchTab(tabGroup, tabItem);
    });
  }
}
</script>

{{ end }}
