// table-of-content
.table-of-content {
  margin: 1rem 0 1.5rem;
  summary {
    font-size: 18px;
    color: $white;
    background-color: #555;
    padding: 5px 20px;
    margin-bottom: 0 !important;
  }
  ul {
    li::before {
      display: none;
    }
  }
  #TableOfContents {
    padding: 10px;
    background-color: #f7f7f7;
    li,
    a {
      color: #333 !important;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.content {
  .table-of-content {
    ul li,
    ol li {
      margin-bottom: 6px !important;
    }
  }
}

.dark {
  #TableOfContents {
    background-color: #333;
    li,
    a {
      color: #fff !important;
    }
  }
}
