{{ $imagePath:= .Src }}
{{ $size:= .Size | default "cover" }}
{{ $position:= .Position | default "center center" }}
{{ $repeat:= .Repeat | default "no-repeat" }}
{{ $webp:= .Webp | default true }}

{{ if or (hasPrefix $imagePath "http") (fileExists (add `static/` (string $imagePath))) }}
style="background-image: url({{ $imagePath | absURL }});background-size: {{$size}};background-position: {{$position}};background-repeat: {{$repeat}};"

{{ else }}

{{ $image:= resources.Get $imagePath }}

{{ if $webp }}
{{ $height:= string $image.Height }}
{{ $width:= string $image.Width }}
{{ $defaultSize:= add (add $width "x") $height }}
{{ $imageWebp:= $image.Resize (add $defaultSize " webp") }}

style="background-image: url({{ $imageWebp.RelPermalink }});background-size: {{$size}};background-position: {{$position}};background-repeat: {{$repeat}};"

{{ else }}

style="background-image: url({{ $image.RelPermalink }});background-size: {{$size}};background-position: {{$position}};background-repeat: {{$repeat}};"

{{ end }}

{{ end }}