{{ $imagePath:= .Src }}
{{ $image:= . }}
{{ $class:= .Class }}
{{ $size:= .Size }}
{{ $alt:= .Alt }}
{{ $context:= .Context | default . }}
{{ $contentImage:= false }}
{{ $assetImage:= false }}
{{ $height:= index (split $size `x`) 1 }}
{{ $width:= index (split $size `x`) 0 }}
{{ $webp:= .Webp | default true }}


<!-- check content image  -->
{{ with $context.Resources }}
{{ if .GetMatch $imagePath }}
{{ $contentImage = true }}
{{ end }}
{{ end }}
<!-- /check content image -->

<!-- check asset image -->
{{ if fileExists (add `assets/` (string $imagePath)) }}
{{ $assetImage = true }}
{{ end }}
<!-- /check asset image -->


<!-- image static/CDN -->
{{ if or (hasPrefix $imagePath "http") (fileExists (add `static/` (string $imagePath))) }}
<img loading="lazy" decoding="async" src="{{ $imagePath | absURL }}" alt="{{.Alt}}" class="{{$class}} img-fluid" height="{{$height}}" width="{{$width}}">
{{ else }}
<!-- /image cdn -->

<!-- check file existence -->
{{ if or $assetImage $contentImage }}

{{ if $assetImage }}
{{ $image = resources.Get $imagePath }}
{{ else if $contentImage }}
{{ $image = $context.Resources.GetMatch $imagePath }}
{{ end }}

<!-- image extension -->
{{ $imageExt := path.Ext $image }}

<!-- image height, width (if not svg) -->
{{ if eq $imageExt `.svg` }}
{{ .Scratch.Set "image-height" "" }}
{{ .Scratch.Set "image-width" "" }}
{{ else }}
{{ .Scratch.Set "image-height" $image.Height }}
{{ .Scratch.Set "image-width" $image.Width }}
{{ end }}
{{ $imageHeight:= .Scratch.Get "image-height" }}
{{ $imageWidth:= .Scratch.Get "image-width" }}

<!-- gif/svg image -->
{{ if or (eq $imageExt `.gif`) (eq $imageExt `.svg`) }}
<img src="{{$image.RelPermalink}}" loading="lazy" decoding="async" alt="{{.Alt}}" class="{{$class}} img-fluid" width="{{$width}}" height="{{$height}}">
{{ else }}

<!-- single image -->
{{ if $size }}
{{ $imageFallback:= $image.Resize $size }}
{{ $imageWebp:= $image.Resize (add (string $size) " webp") }}
{{ if not $webp }}
{{ $imageWebp = $image.Resize (string $size) }}
{{ end }}
<img loading="lazy" decoding="async" src="{{$imageWebp.RelPermalink}}" alt="{{.Alt}}" class="{{$class}} img-fluid" width="{{if $width}}{{$width}}{{else}}{{$imageWebp.Weight}}{{end}}" height="{{if $height}}{{$height}}{{else}}{{$imageWebp.Height}}{{end}}" onerror="this.onerror='null';this.src='{{$imageFallback.RelPermalink}}'">
{{ else }}

<!-- image processing for multiple device -->
{{ $imageFallback:= $image.Resize "1110x" }}
{{ $imageXL:= $image.Resize "1110x webp" }}
{{ $imageLG:= $image.Resize "700x webp" }}
{{ $imageMD:= $image.Resize "600x webp" }}
{{ $imageSM:= $image.Resize "545x webp" }}
{{ if not $webp }}
{{ $imageXL = $image.Resize "1110x" }}
{{ $imageLG = $image.Resize "700x" }}
{{ $imageMD = $image.Resize "600x" }}
{{ $imageSM = $image.Resize "545x" }}
{{ end }}
<picture>
  <source srcset="{{ $imageSM.RelPermalink }}" media="(max-width: 575px)">
  <source srcset="{{ $imageMD.RelPermalink }}" media="(max-width: 767px)">
  <source srcset="{{ $imageLG.RelPermalink }}" media="(max-width: 991px)">
  <source srcset="{{ $imageXL.RelPermalink }}">
  <img loading="lazy" decoding="async" class="{{$class}} img-fluid" src="{{$imageFallback.RelPermalink}}" alt="{{.Alt}}" width="{{$image.Width}}" height="{{$image.Height}}">
</picture>
{{ end }} <!-- end image processing -->
{{ end }} <!-- end single image -->
{{ end }} <!-- end check file existance -->

{{ end }}