.accordion {
  background-color: #fff;
  border: 1px solid #ccc;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.6rem;
}

.accordion-icon {
  width: 0.78em;
  height: 0.78em;
  transform: rotate(0deg);
  transition: transform 0.2s ease;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 1rem;
}

.accordion.active .accordion-icon {
  transform: rotate(180deg);
}

.accordion.active .accordion-content {
  max-height: 100vh;
}
