.share-title {
  display: inline-block;
  margin-right: 0.3em;
}

.share-link {
  border-radius: 0.25rem;
  transition: 25ms ease-out;
  height: 2.5em;
  width: 2.5em;
  line-height: 2.5em;
  text-align: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  margin: 0.5em;
  display: inline-block;
  vertical-align: middle;
}

.share-icon {
  fill: #fff;
  stroke: none;
  display: block;
  height: 100%;
  svg {
    width: 1em;
    height: 100%;
    margin: auto;
  }
}

.share-twitter {
  background-color: #000000;

  &:hover {
    background-color: #0c0c0c;
  }
}

.share-pinterest {
  background-color: #bd081c;

  &:hover {
    background-color: #8c0615;
  }
}

.share-facebook {
  background-color: #3b5998;

  &:hover {
    background-color: #2d4373;
  }
}

.share-tumblr {
  background-color: #35465c;

  &:hover {
    background-color: #222d3c;
  }
}

.share-reddit {
  background-color: #5f99cf;

  &:hover {
    background-color: #3a80c1;
  }
}

.share-google {
  background-color: #dd4b39;

  &:hover {
    background-color: #c23321;
  }
}

.share-linkedin {
  background-color: #0077b5;

  &:hover {
    background-color: #046293;
  }
}

.share-email {
  background-color: #777;

  &:hover {
    background-color: #5e5e5e;
  }
}

.share-whatsapp {
  background-color: #25d366;

  &:hover {
    background-color: #1da851;
  }
}

.share-hackernews {
  background-color: #ff6600;

  &:hover {
    background-color: #fb6200;
  }
}

.share-vk {
  background-color: #507299;

  &:hover {
    background-color: #43648c;
  }
}

.share-facebook {
  background-color: #3b5998;

  &:hover {
    background-color: #2d4373;
  }
}

.share-twitter {
  background-color: #55acee;

  &:hover {
    background-color: #2795e9;
  }
}

.share-google {
  background-color: #dd4b39;

  &:hover {
    background-color: #c23321;
  }
}

.share-email {
  background-color: #777777;

  &:hover {
    background-color: #5e5e5e;
  }
}

.share-reddit {
  background-color: #5f99cf;

  &:hover {
    background-color: #3a80c1;
  }
}

.share-whatsapp {
  background-color: #25d366;

  &:hover {
    background-color: #1da851;
  }
}

.share-telegram {
  background-color: #54a9eb;

  &:hover {
    background-color: #4b97d1;
  }
}
