.share-title {
  display: inline-block;
  margin-right: 0.3em;
}

.share-link {
  border-radius: 0.25rem;
  transition: 25ms ease-out;
  height: 2.5em;
  width: 2.5em;
  line-height: 2.5em;
  text-align: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  margin: 0.5em;
  display: inline-block;
  vertical-align: middle;
}

.share-icon {
  fill: #fff;
  stroke: none;
  display: block;
  height: 100%;
}

.share-icon svg {
  width: 1em;
  height: 100%;
  margin: auto;
}

.share-pinterest {
  background-color: #bd081c;
}

.share-pinterest:hover {
  background-color: #8c0615;
}

.share-facebook {
  background-color: #3b5998;
}

.share-facebook:hover {
  background-color: #2d4373;
}

.share-tumblr {
  background-color: #35465c;
}

.share-tumblr:hover {
  background-color: #222d3c;
}

.share-reddit {
  background-color: #5f99cf;
}

.share-reddit:hover {
  background-color: #3a80c1;
}

.share-linkedin {
  background-color: #0077b5;
}

.share-linkedin:hover {
  background-color: #046293;
}

.share-vk {
  background-color: #507299;
}

.share-vk:hover {
  background-color: #43648c;
}

.share-twitter {
  background-color: #55acee;
}

.share-twitter:hover {
  background-color: #2795e9;
}

.share-email {
  background-color: #777777;
}

.share-email:hover {
  background-color: #5e5e5e;
}

.share-whatsapp {
  background-color: #25d366;
}

.share-whatsapp:hover {
  background-color: #1da851;
}

.share-telegram {
  background-color: #54a9eb;
}

.share-telegram:hover {
  background-color: #4b97d1;
}
