.search-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999;
  transition: .2s;
  opacity: 0;
  visibility: hidden;
}
.search-modal.show {
  opacity: 1;
  visibility: visible;
}
.search-modal .search-wrapper-content {
  width: 660px;
  max-width: 96%;
  margin: 100px auto;
  background-color: white;
  border-radius: 4px;
}
.search-input-body {
  padding: 14px;
  position: relative;
}
.search-input-body input {
  border: 2px solid #ddd;
  width: 100%;
  border-radius: 4px;
  height: 52px;
  padding: 0 15px 0 40px;
  transition: .25s;
  outline: none;
}
.search-input-body input:focus {
  border-color: var(--color-primary);
}
.search-input-body label {
  position: absolute;
  left: 28px;
  top: calc(50% - 13px);
}
.search-input-body label svg[type="reset"] {
  display: none;
  transition: .1s;
}
.search-input-body label svg[type="reset"]:hover {
  color: var(--color-primary);
}
.search-modal .search-wrapper-body {
  max-height: calc(100vh - 350px);
  padding: 14px;
  overflow-y: auto;
  background-color: #f5f6f7;
  box-shadow: inset 0 2px 18px #ddd;
  border-radius: 4px;
}
.empty-search-result {
  display: block;
  text-align: center;
  padding: 32px 0;
  cursor: text;
  user-select: none;
}
#search-result:not(:empty) + .empty-search-result {
  display: none;
}
.no-result-found {
  text-align: center;
}
.no-result-found svg {
  margin-bottom: 16px;
}
.no-result-found p {
  margin-bottom: 0;
}
#search-result mark {
  padding: 0;
}
.search-result-item [data-result-item] {
  display: block;
  padding: 10px 16px;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fff;
  transition: 0s;
  scroll-margin-top: 15px;
  scroll-margin-bottom: 15px;
  margin-bottom: 2px;
  display: flex;
  align-items: flex-start;
}
.search-result-item [data-result-item] div:empty,
.search-result-item [data-result-item] .search-description:empty {
  display: none;
}
.fs-0 {
  flex-shrink: 0;
}
.fg-1 {
  flex-grow: 1;
}

.search-modal .search-result-item a > div {
  margin-right: 16px;
}
.search-result-item [data-result-item] > div > img {
  border-radius: 4px;
  max-height: 400px;
  width: 100%;
  object-fit: cover;
}
.search-page .search-result-item [data-result-item] > div > img {
  object-fit: cover;
  max-height: 250px;
  width: 100%;
}
.search-result-item [data-result-item]:focus,
.search-result-item [data-result-item][aria-selected="true"],
.search-result-item [data-result-item]:hover {
  background-color: var(--color-primary);
}
.search-result-item [data-result-item]:focus *,
.search-result-item [data-result-item][aria-selected="true"] *,
.search-result-item [data-result-item]:hover * {
  color: white;
}
.search-result-item [data-result-item]:focus mark,
.search-result-item [data-result-item][aria-selected="true"] mark,
.search-result-item [data-result-item]:hover mark {
  background-color: rgba(255, 255, 255, 0.4);
}
.search-result-item [data-result-item] u {
  color: var(--color-primary);
}
.search-result-item .hidden {
  display: none;
}
.section-name {
  padding: 0 12px;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 18px;
}
.search-result-item:first-child .section-name:not(:empty) {
  margin-top: -15px;
}
.search-title {
  font-size: 18px;
  color: black;
  margin-bottom: 0;
  line-height: 1.35;
  font-weight: bold;
}
.search-content {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  margin: 6px 0;
}
.search-description {
  font-size: 90%;
  margin-top: 6px;
  margin-bottom: 4px;
}
.search-content:empty {
  display: none;
}
.search-info {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  align-items: center;
}
.search-info > div {
  margin-right: 12px;
  color: #999;
}
.search-info > div svg {
  margin-right: 4px;
}
.search-wrapper-footer {
  color: #999;
  font-size: 12px;
  padding: 5px 14px;
  user-select: none;
  display: flex;
  align-items: center;
}
.search-wrapper-footer kbd {
  color: #777;
  background-color: #eee;
  padding: 2px 4px;
  font-size: 14px;
  border-radius: 3px;
  margin-right: 3px;
}
.search-wrapper-footer span:not(:last-child) {
  margin-right: 16px;
}
.search-wrapper-footer span:last-child {
  margin-left: auto;
}
.search-wrapper-footer .search-result-info:empty {
  display: none;
}
.search-wrapper-footer .search-result-info {
  margin-left: -3px;
}
.search-wrapper-footer .search-result-info em {
  color: black;
  font-style: normal;
  padding: 0 3px;
}

.search-page .search-wrapper-content {
  padding: 100px 0;
}
.search-page .search-input-body,
.search-page .search-wrapper-footer {
  width: 660px;
  max-width: 96%;
  margin: 0 auto;
}
.search-page .search-wrapper-footer {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 60px;
}
.search-page .search-wrapper-body {
  padding: 0 16px;
}
.search-page .search-result-item {
  display: flex;
  flex-wrap: wrap;
}
.search-page .search-result-item {
  margin-right: -15px;
  margin-left: -15px;
}
.search-page .search-result-item > p,
.search-page .search-result-item > [data-result-item] {
  padding-right: 15px !important;
  padding-left: 15px !important;
}
.search-page .search-result-item > p {
  width: 100%;
}
.search-page .search-result-item > [data-result-item] {
  flex: 0 0 auto;
  width: calc(100% - (4 * 4px));
  display: block;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  margin: 0 8px 16px 8px;
}
@media (min-width: 576px) {
  .search-page .search-result-item > [data-result-item] {
    width: calc(50% - (4 * 4px));
  }
}
@media (max-width: 576px) {
  .search-wrapper .search-wrapper-footer span:not(.search-result-info) {
    display: none;
  }
}
@media (min-width: 768px) {
  .search-page .search-result-item > [data-result-item] {
    width: calc(33.3333333333% - (4 * 4px));
  }
}
@media (min-width: 992px) {
  .search-page .search-result-item > [data-result-item] {
    width: calc(25% - (4 * 4px));
  }
}

.search-page .search-result-item > [data-result-item] .fs-0 {
  margin-bottom: 10px;
}
.search-page .section-name {
  font-size: 22px;
  font-weight: bold;
}