{{- $allSections := slice -}}
{{- range site.Home.Sections -}}
  {{- $allSections = $allSections | append .Section -}}
{{- end -}}

{{- $include_all_sections := site.Params.search.include_all_sections -}}
{{- $search_sections := $allSections -}}

{{- if not $include_all_sections -}}
{{- $search_sections = site.Params.search.include_sections | default site.Params.mainSections -}}
{{- end -}}
<!-- search index -->
<script>
  let indexURL = {{ "searchindex.json" | absLangURL }};
  let includeSectionsInSearch = {{ $search_sections }};
  let no_results_for = {{ i18n `no_results_for` | default "0 results for"}};
  let empty_search_results_placeholder = {{ i18n `empty_search_results_placeholder`}};
</script>
