.img {
  max-width: 100%;
  height: auto;
}

/*!
 * Justified gallery style
 */
 .gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1em;
  column-gap: 1em;
}
 @media (min-width: 460px) {
  .gallery .glightbox {
    width:100%;
    height:100%;
  }
  .gallery .gallery-item {
    height: 40vh;
    flex-grow: 1;
  }
  .gallery .gallery-item img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }
  .gallery.zoomable .gallery-item:hover img {
    transform: scale(1.05);
    cursor: zoom-in;
  }
}

@media (max-width: 460px) {
  .gallery {
    flex-direction: column;
  }
}

// gallery-slider
.gallery-slider {
  .swiper-slide {
    img {
      width: 100%;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: white;
    opacity: 0;
    transition: 0.3s;
  }
  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      opacity: 1;
    }
    .swiper-button-prev {
      left: 30px;
    }
    .swiper-button-next {
      right: 30px;
    }
  }
}
