{{ $logoPath:= .Src | default site.Params.logo }}
{{ $logoWebp:= site.Params.logo_webp | default true }}
{{ $logoDarkPath:= .DarkSrc | default site.Params.logo_dark }}
{{ $logoText:= site.Params.logo_text }}
{{ $logoWidth:= add (replace site.Params.logo_width "px" "") "x" }}
{{ $logoDefaultWidth:= site.Params.logo_width }}
{{ $logoDefaultHeight:= "" }}
{{ $context:= . }}
{{ $assetImage:= false }}
{{ $scratch := newScratch }}


<!-- check asset image -->
{{ if fileExists (add `assets/` (string $logoPath)) }}
  {{ $assetImage = true }}
{{ end }}
<!-- /check asset image -->

<!-- image static/CDN -->
{{ if or (hasPrefix $logoPath "http") (fileExists (add `static/` (string $logoPath))) }}
  <img
    loading="lazy"
    decoding="async"
    src="{{ $logoPath | absURL }}"
    alt="{{ $logoText }}"
    class="img logo-light"
    height="{{ $logoDefaultHeight }}"
    width="{{ $logoDefaultWidth }}" />
  <img
    loading="lazy"
    decoding="async"
    src="{{ $logoDarkPath | absURL }}"
    alt="{{ $logoText }}"
    class="img logo-dark"
    height="{{ $logoDefaultHeight }}"
    width="{{ $logoDefaultWidth }}" />
{{ else }}
  <!-- /image cdn -->

  <!-- checking logo path -->
  {{ if $assetImage }}
    {{ $logoPath = resources.Get $logoPath }}


    <!-- checking logo existance -->
    {{ if fileExists (add `assets/` (string $logoPath)) }}
      {{ $logo:= resources.Get $logoPath }}


      <!-- logo extention -->
      {{ $logoExt := path.Ext $logo }}


      <!-- logo height, width (if not svg) -->
      {{ if ne $logoExt `.svg` }}
        {{ $logoDefaultWidth = $logo.Width }}
        {{ $logoDefaultHeight = $logo.Height }}
      {{ end }}


      <!-- checking gif/svg -->
      {{ if or (eq $logoExt ".gif") (eq $logoExt ".svg") }}
        {{ $scratch.Set "logo" $logo.RelPermalink }}
        <!-- logo processing to webp -->
      {{ else }}
        {{ $logoDefaultWidth:= add (string $logoDefaultWidth) "x" }}
        {{ $logoWidth:= $logoWidth | default $logoDefaultWidth }}
        {{ $logoWidth2x:= replace $logoWidth `x` `` }}
        {{ $logoWidth2x = add (string (mul (int $logoWidth2x) 2)) `x` }}
        {{ $options := add (string $logoWidth2x) " webp" }}
        {{ if not $logoWebp }}
          <!-- if webp false -->
          {{ $options = add (string $logoWidth2x) " " }}
        {{ end }}
        <!-- end -->
        {{ $scratch.Set "logo" ($logo.Resize $options).RelPermalink }}
        <!-- logo fallback -->
        {{ $scratch.Set "logo_fallback" ($logo.Resize $logoWidth).RelPermalink }}
      {{ end }}
      <!-- /checking gif/svg -->
    {{ else }}
      {{ warnf "%q not found" $logoPath }}
      {{ $logoPath = false }}
    {{ end }}
    <!-- / checking logo existance -->
  {{ end }}


  <!-- / checking logo path -->

  <!-- ########### Dark logo code ################ -->
  {{ if $logoDarkPath }}
    <!-- checking logo existance -->
    {{ if fileExists (add `assets/` (string $logoDarkPath)) }}
      {{ $logoDark:= resources.Get $logoDarkPath }}


      <!-- logo extention -->
      {{ $logoDarkExt := path.Ext $logoDark }}


      <!-- checking gif/svg -->
      {{ if or (eq $logoDarkExt ".gif") (eq $logoDarkExt ".svg") }}
        {{ $scratch.Set "logo_dark" $logoDark.RelPermalink }}
        <!-- logo processing to webp -->
      {{ else }}
        {{ $logoDefaultWidth:= add (string $logoDefaultWidth) "x" }}
        {{ $logoDarkWidth:= $logoWidth | default $logoDefaultWidth }}
        {{ $options := add (string $logoDarkWidth) " webp" }}
        {{ if not $logoWebp }}
          <!-- if webp false -->
          {{ $options = add (string $logoDarkWidth) " " }}
        {{ end }}
        <!-- end -->

        {{ $scratch.Set "logo_dark" ($logoDark.Resize $options).RelPermalink }}
        <!-- logo fallback -->
        {{ $scratch.Set "logo_dark_fallback" ($logoDark.Resize $logoDarkWidth).RelPermalink }}
      {{ end }}
      <!-- /checking gif/svg -->
    {{ else }}
      {{ warnf "%q not found" $logoDarkPath }}
      {{ $logoDarkPath = false }}
    {{ end }}
    <!-- / checking logo existance -->
  {{ end }}


  <!-- / checking logo path -->

  <!-- ########### /Dark logo code ################ -->

  {{ if $logoDarkPath }}
    <img
      loading="preload"
      decoding="async"
      class="img logo-light"
      width="{{ replace $logoWidth `x` `` | default $logoDefaultWidth }}"
      height="{{ $logoDefaultHeight }}"
      src="{{ $scratch.Get `logo` }}"
      alt="{{ $logoText }}"
      onerror="this.onerror=null;this.src='{{ $scratch.Get `logo_fallback` }}'" />

    <img
      loading="preload"
      decoding="async"
      class="img logo-dark"
      width="{{ replace $logoWidth `x` `` | default $logoDefaultWidth }}"
      height="{{ $logoDefaultHeight }}"
      src="{{ $scratch.Get `logo_dark` }}"
      alt="{{ $logoText }}"
      onerror="this.onerror=null;this.src='{{ $scratch.Get `logo_dark_fallback` }}'" />
  {{ else if $logoPath }}
    <img
      loading="preload"
      decoding="async"
      class="logo"
      width="{{ replace $logoWidth `x` `` | default $logoDefaultWidth }}"
      height="{{ $logoDefaultHeight }}"
      src="{{ $scratch.Get `logo` }}"
      alt="{{ $logoText }}"
      onerror="this.onerror=null;this.src='{{ $scratch.Get `logo_fallback` }}'" />

    <!-- logo text -->
  {{ else if site.Params.logo_text }}
    {{ site.Params.logo_text | markdownify }}
    <!-- logo title -->
  {{ else }}
    <strong>`{{ $logoPath }}` doesn't exist</strong>
  {{ end }}
  <!-- / checking logo path -->
{{ end }}
