.tab {
  &-panel {
    margin-top: 2rem;
    margin-bottom: 2rem;

    pre {
      margin: 0;
    }
  }

  &-content {
    display: block;
    clear: both;

    .tab-item {
      display: none;
    }

    .tab-item.active {
      display: block;
    }
  }

  &-nav-button {
    border: 1px solid #ddd;
    background-color: #ddd;
    float: left;
    display: block;
    margin-left: 0.4rem;
    margin-bottom: 0.4rem;
    padding: 0.4rem 1rem;
    text-transform: capitalize;

    &:hover,
    &.active {
      color: $white;
      background-color: $color-primary;
      border-color: $color-primary;
    }

    &:first-child {
      margin-left: 0px;
    }
  }
}

body.dark {
  .tab {
    &-nav-button {
      border-color: transparent;
      background-color: $white;
      color: $black;

      &:hover,
      &.active {
        color: $white;
        background-color: $color-primary;
        border-color: $color-primary;
      }
    }

    &-content {
      background-color: #222;
      border-color: #4e4e4e;
    }
  }
}
