.tab {
  &-panel {
    margin-top: 2rem;
    margin-bottom: 2rem;

    pre {
      margin: 0;
    }
  }

  &-content {
    display: block;
    clear: both;
    padding: 0.5rem;
    border: 1px solid #acb9c4;

    .tab-item {
      display: none;
    }

    .tab-item.active {
      display: block;
    }
  }

  &-nav-button {
    border: 1px solid #acb9c4;
    border-radius: 0.4rem 0.4rem 0 0;
    background-color: #eee;
    float: left;
    display: block;
    position: relative;
    margin-left: 0.4rem;
    bottom: -1px;

    &.active {
      background-color: #fff;
      border-bottom-color: #fff;
    }

    &:first-child {
      margin-left: 0px;
    }
  }
}

body.dark {
  .tab {
    &-nav-button {
      border-color: #4e4e4e !important;
      background-color: #222;
      color: #fff;

      &.active {
        background-color: #222;
        border-bottom-color: #222 !important;
      }
    }

    &-content {
      background-color: #222;
      border-color: #4e4e4e;
    }
  }
}
