{{ $label:= .Get "label" }}
{{ $link:= .Get "link" }}
{{ $style:= .Get "style" }}
{{ $class:= .Get "class" | default "" }}

{{ range $i, $e:= .Params }}
  {{ if eq $i "label" }}{{ $label = $e }}{{ end }}
{{ end }}

{{ range $i, $e:= .Params }}
  {{ if eq $i "link" }}{{ $link = $e }}{{ end }}
{{ end }}

<a href="{{ $link | absLangURL }}" class="btn {{ if eq $style `outline` }}btn-outline-primary {{ else }}btn-primary {{ end }}{{ $class }}" {{ if strings.HasPrefix $link `http` }}target="_blank" rel="noopener"{{ end }}>{{ $label }}</a>
